input[type=checkbox].spoiler { display: none; }

input[type=checkbox].spoiler:not(:checked) + .spoiler,
input[type=checkbox].spoiler:checked + .spoiler:hover {
  background-color: inherit;
  padding: 0;
  margin: 0;
}

input[type=checkbox].spoiler:checked + .spoiler {
  background-color: currentColor;
  padding: 1px;
  margin: -1px;
}

input[type=checkbox].spoiler + .spoiler { cursor: pointer; }
